In [5]:
import pandas as pd

In [15]:
transformer = pd.read_excel('/Users/zihan/Desktop/transformer.xls')
transformer

          type      hourl_datetime  xfmr first_station second_station
0  PAD MOUNTED 2020-06-05 18:00:00   123             A              B
1       AERIAL 2020-06-21 19:00:00   134             C              B
2  PAD MOUNTED 2020-06-01 02:00:00   156             D              C
3  PAD MOUNTED 2020-06-04 13:00:00   178             B              D
4       AERIAL 2020-06-11 12:00:00   196             D              A

In [9]:
weather = pd.read_excel('/Users/zihan/Desktop/weather.xls')
weather

             datetime stationName  Temp  wind
0 2020-06-11 12:00:00           A    76     3
1 2020-06-05 18:00:00           A    65    10
2 2020-06-12 16:00:00           B    77     5
3 2020-06-01 02:00:00           C    74     3
4 2020-06-21 19:00:00           C    72    11
5 2020-06-05 09:00:00           D    68     9
6 2020-06-04 13:00:00           D    55     7

In [24]:
res={}
for i, xfmr in transformer.iterrows():
    for j, wea in weather.iterrows():
        if xfmr['first_station']==wea['stationName'] and xfmr['hourl_datetime']==wea['datetime']:
            res[i]=xfmr.append(wea)
        elif xfmr['second_station']==wea['stationName'] and xfmr['hourl_datetime']==wea['datetime']:
            res[i]=xfmr.append(wea)

In [29]:
pd.DataFrame.from_dict(res, orient='index')

,type,hourl_datetime,xfmr,first_station,second_station,datetime,stationName,Temp,wind
0,PAD MOUNTED,2020-06-05 18:00:00,123,A,B,2020-06-05 18:00:00,A,65,10
1,AERIAL,2020-06-21 19:00:00,134,C,B,2020-06-21 19:00:00,C,72,11
2,PAD MOUNTED,2020-06-01 02:00:00,156,D,C,2020-06-01 02:00:00,C,74,3
3,PAD MOUNTED,2020-06-04 13:00:00,178,B,D,2020-06-04 13:00:00,D,55,7
4,AERIAL,2020-06-11 12:00:00,196,D,A,2020-06-11 12:00:00,A,76,3